#greeting {
  h1,
  p {
    margin: 0;
  }

  .title {
    font-weight: 700;
    font-size: 3rem;
  }

  .subtitle {
    font-size: 1.7rem;
  }
}

#history {
  display: grid;
  place-items: center;

  background-color: var(--violet-800);

  & > div {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    max-width: 1290px;
  }

  .section {
    display: flex;
    gap: 6rem;

    & > * {
      max-width: 50%;
      flex-basis: 50%;
    }

    .image-wrapper {
      position: relative;
      display: grid;
      place-items: center;
      flex-grow: 1;

      & > img {
        position: relative !important;
        height: 400px !important;
        width: auto;

        border-radius: 1rem;
      }
    }

    p {
      text-align: justify;
      margin: auto;
    }

    &:nth-child(2n) {
      flex-direction: row-reverse;
    }
  }
}

#experience,
#projects {
  & > div > div {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    gap: 1rem;

    justify-content: center;
    align-items: center;
  }
}

#skills {
  .skills-category {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

#contact {
  background-color: var(--violet-800);

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    padding: 1rem 1.25rem;
    background: var(--background);
    border-radius: 999px;

    width: fit-content;

    button,
    a {
      transition: all 0.2s;

      &:hover {
        filter: brightness(0.8);
      }
    }
  }
}
